:root {
    --black: #000000;
    --darkest-green: #0d2818;
    --darkgreen: #020202;
    --gold: #ffd700;
    --transparentGold: rgba(255, 217, 0, 0.5);
    --gray: #999;
    --green: #16db65;
    --green-transparent: rgba(22, 218, 100, 0.5);
    --green-semioscuro: #058642;
    --green-oscuro: #04471c;
    --hospital-green: #ACD9B2;
    --transparentWhite: rgba(247, 251, 252, 0.87);
    --very-light-pink: #C7C7C7; 
    --white: #ffffff;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background: linear-gradient(to right, var(--white), var(--hospital-green));
}

.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.form {
    background: linear-gradient(rgba(247, 251, 252, 0.9), rgba(247, 251, 252, 0.87)),
    url(./image/artificial-intelligence-2167835_640.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    width: 800px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .9);
}

.form h2 {
    color: var(--green-semioscuro);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    font-weight: bolder;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

label {
    font-size: 1rem;
    color: var(--darkgreen);
    margin-bottom: 5px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .9);
    margin-top: 1rem;
}

input, textarea {
    padding: 17px, 17px;
    font-size: 1.2rem;
    color: var(--darkest-green);
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .9);
}

:focus {
    outline: 1px solid var(--gray);
}

.btn-send {
    background-color: var(--hospital-green);
    width: 150px;
    align-self: flex-end;
    cursor: pointer;
    margin-top: 1rem;
    padding: 10px 5px;
    font-weight: bolder;
}

.btn-send:hover {
    background-color: var(--green-semioscuro);
    color: var(--hospital-green);
}

/*Medium*/
@media screen and (min-width:581px) and (max-width: 1024px) {
    .form-content {
        padding: 3rem;
    }

    .form {
        width: 100%;
    }
    
    form {
        width: 100%;
    }
}

/*Small*/
@media screen and (max-width:580px) {
    .form-content {
        padding: 1rem;
    }

    .form {
        width: 100%;
    }
    
    form {
        width: 100%;
    }
}
