:root {
    --black: #000000;
    --darkest-green: #0d2818;
    --darkgreen: #020202;
    --gold: #ffd700;
    --transparentGold: rgba(255, 217, 0, 0.5);
    --gray: #999;
    --green: #16db65;
    --green-transparent: rgba(22, 218, 100, 0.5);
    --green-semioscuro: #058642;
    --green-oscuro: #04471c;
    --hospital-green: #ACD9B2;
    --transparentWhite: rgba(247, 251, 252, 0.87);
    --very-light-pink: #C7C7C7; 
    --white: #ffffff;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background: linear-gradient(to right, var(--white), var(--hospital-green));
}

.inactive {
    display: none;
}

#presentation {
    display: flex;
    align-items: center;
}

.greeting {
    font-size: 3rem;
}

.my-name {
    text-shadow: 0 2px 5px rgba(0, 0, 0, .9);
    margin-bottom: 10px;
    font-size: 5rem;
}

#about {
    height: 100%;
    width: 100%;
}

#profession {
    text-shadow: 0 2px 5px rgba(0, 0, 0, .9);
    margin-top: 10px;
    top: 10px;
    font-size: 2rem;
    color: var(--gold);
}

.buttonContact {    
    margin-top: 1rem;
}

.biography {
    font-size: 20px;
    color: var(--black);
}

#photo-box {
    width: 25rem;
    height: 25rem;
}

#photo {
    object-fit: cover;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;   
}

@media screen and (max-width:580px) {
    #presentation {
        display: flex;
        flex-direction: column;
    }

    .about #photo {
        width: 100%;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }

    .greeting {
        font-size: 2rem;
    }

    .my-name {
        font-size: 3rem;
        padding-bottom: 0;
        margin-bottom: 0;
        bottom: 0;
    }

    #profession {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 1.5rem;
        top: 0;
    }

    .buttonContact {
        margin-top: 1rem;
        font-size: 1rem;
    }

    .biography {
        font-size: 1rem;
        top: 0;
        margin-top: 0;
    }

    #photo-box {
        width: 15rem;
        height: 15rem;
    }
}

@media screen and (min-width:581px) and (max-width: 1024px) {
    #presentation {
        display: flex;
        flex-direction: column;
    }

    .about #photo {
        width: 100%;
    }

    #photo-box {
        height: 22rem;
        width: 20rem;
        justify-content: center;
        align-items: center;
    }
}
