:root {
    --black: #000000;
    --darkest-green: #0d2818;
    --darkgreen: #020202;
    --gold: #ffd700;
    --transparentGold: rgba(255, 217, 0, 0.5);
    --gray: #999;
    --green: #16db65;
    --green-transparent: rgba(22, 218, 100, 0.5);
    --green-semioscuro: #058642;
    --green-oscuro: #04471c;
    --hospital-green: #ACD9B2;
    --transparentWhite: rgba(247, 251, 252, 0.87);
    --very-light-pink: #C7C7C7; 
    --white: #ffffff;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background: linear-gradient(to right, var(--white), var(--hospital-green));
}

header {
    margin-bottom: 30px;
}

/*HEADER*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    background-color: transparent;
    font-size: 18px;
}

nav a {
    color: var(--green-semioscuro);
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

#logo {
    width: 70px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .9);
    margin-bottom: 5px;
    border: 2px solid var(--gold);
    margin-top: 1rem;
}

.navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left ul {
    margin-left: 12px;
}

.navbar-left ul,
.navbar-right ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: 12px;
    margin-top: 0.5rem;
}

.navbar-left ul li a {
    padding: 8px;
    margin-right: 12px;
}

.navbar-left ul li a:hover {
    color: var(--darkest-green);
}

.navbar-email a{
    color: var(--green-semioscuro);
    margin-right: 20px;
    cursor: pointer;
    padding: 8px;
    margin-top: 20px;
}

.navbar-email a:hover {
    color: var(--darkgreen);
}

.navbar-menuIcon {
    position: relative;
}

.inactive {
    display: none;
}

.iconMenu {
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
}

.mobileMenu {
    padding-right: 15px;
    background-color: var(--transparentWhite);
    right: 20px;
    top: 60px;
    width: 28vh;
    position: absolute;
    border: 1px solid var(--very-light-pink);
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    padding-bottom: 0.5rem;
}

.mobileMenu ul {
    list-style: none;
    padding-top: 5px;
}

.mobileMenu a {
    color: var(--darkest-green);
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobileMenu a:hover {
    color: var(--green);
}


/*MAIN*/
.inactive {
    display: none;
}

#presentation {
    display: flex;
    align-items: center;
}

.greeting {
    font-size: 3rem;
}

.my-name {
    text-shadow: 0 2px 5px rgba(0, 0, 0, .9);
    margin-bottom: 10px;
    font-size: 5rem;
}

#about {
    height: 100%;
    width: 100%;
}

#profession {
    text-shadow: 0 2px 5px rgba(0, 0, 0, .9);
    margin-top: 10px;
    top: 10px;
    font-size: 2rem;
    color: var(--gold);
}

.buttonContact {    
    margin-top: 1rem;
}

.biography {
    font-size: 20px;
    color: var(--black);
}

#photo-box {
    width: 25rem;
    height: 25rem;
}

#photo {
    object-fit: cover;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;   
}

.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.form {
    background: linear-gradient(rgba(247, 251, 252, 0.9), rgba(247, 251, 252, 0.87)),
    url(./image/artificial-intelligence-2167835_640.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    width: 800px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .9);
}

.form h2 {
    color: var(--green-semioscuro);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    font-weight: bolder;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

label {
    font-size: 1rem;
    color: var(--darkgreen);
    margin-bottom: 5px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .9);
    margin-top: 1rem;
}

input, textarea {
    padding: 17px, 17px;
    font-size: 1.2rem;
    color: var(--darkest-green);
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .9);
}

:focus {
    outline: 1px solid var(--gray);
}

.btn-send {
    background-color: var(--hospital-green);
    width: 150px;
    align-self: flex-end;
    cursor: pointer;
    margin-top: 1rem;
    padding: 10px 5px;
    font-weight: bolder;
}

.btn-send:hover {
    background-color: var(--green-semioscuro);
    color: var(--hospital-green);
}

.project-box {
    background-color: var(--black);
    width: 100%;
    height: 100%;
    box-shadow: 5px 7px 5px 7px rgba(0, 0, 0, .3);
    padding: 15px 20px;
    border-radius: 1rem;
    align-items: center;
}

.container {
    margin-top: 4rem;
}

.container h2 {
    color: var(--green);
    text-shadow: 0 5px 7px rgba(0, 0, 0, .9);
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 4rem;
}

.badge {
    margin-top:1rem
}

.project-box h5 {
    margin-top: 1.5rem;
    color: var(--green);
    margin-bottom: 1rem;
}

.project-box:hover {
    transform: scale(1.1);
    transform-origin: center;
}

.project-box .description {
    color: var(--white);
    font-size: 1rem;
}

.project-box a {
    color: var(--green);
    font-size: 0.8rem;
}

.project-box a:hover {
    color: var(--gold);
}

.html {
    background-color: #e50914;
}

.css {
    background-color: #4285f4;
}

.bootstrap {
    background-color: #9a00bf;
}

.javascript {
    background-color: var(--gold);
    color: var(--black)!important;
}

.react {
    background-color: #61dafa;
    color: var(--black)!important;
}

.wordpress {
    background-color: white;
    color: #4285f4!important;
}

/*FOOTER*/

svg:hover path {
    fill: var(--gold);
}



/*Small*/

@media screen and (max-width:580px) {
    #presentation {
        display: flex;
        flex-direction: column;
    }

    .about #photo {
        width: 100%;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }

    .greeting {
        font-size: 2rem;
    }

    .my-name {
        font-size: 3rem;
        padding-bottom: 0;
        margin-bottom: 0;
        bottom: 0;
    }

    #profession {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 1.5rem;
        top: 0;
    }

    .buttonContact {
        margin-top: 1rem;
        font-size: 1rem;
    }

    .biography {
        font-size: 1rem;
        top: 0;
        margin-top: 0;
    }

    #photo-box {
        width: 15rem;
        height: 15rem;
    }

    .form-content {
        padding: 1rem;
    }

    .form {
        width: 100%;
    }
    
    form {
        width: 100%;
    }
}


/*Medium*/
@media screen and (min-width:581px) and (max-width: 1024px) {
    #presentation {
        display: flex;
        flex-direction: column;
    }

    .about #photo {
        width: 100%;
    }

    #photo-box {
        height: 22rem;
        width: 20rem;
        justify-content: center;
        align-items: center;
    }

    .form-content {
        padding: 3rem;
    }

    .form {
        width: 100%;
    }
    
    form {
        width: 100%;
    }
}

/*MEDIA QUERIES MOBILE*/
@media screen and (max-width:600px) {
    .iconMenu {
        display: block;
    }
    .navbar-email, 
    .navbar-left ul {
        display: none;
    }

    .mobileMenu {
        width: 40%;
        font-size: 16px;
    }

    .mobileMenu a {
        margin: 0;
        padding: 5px 0;
        padding-top: 10px;
        margin-top: 10px;
    }
}

@media screen and (min-width:601px) and (max-width: 1024px) {
    .mobileMenu {
        width: 30vh;
    }

    .navbar-email, 
    .navbar-left ul {
        display: none;
    }
    
    .iconMenu {
        display: block;
    }
}
